body {
    padding: 0;
    margin: 0;
}
p {
    padding: 0;
    margin: 0;
}
.wrapper {
    margin: auto;
}
@media screen and (min-width: 1600px) {
    .wrapper {
        width: 1600px;
    }
}
@media screen and (max-width: 1599px) {
    .wrapper {
        width: 1400px;
    }
}
@media screen and (max-width: 1400px) {
    .wrapper {
        width: 1200px;
    }
}
@media screen and (max-width: 1400px) {
    .wrapper {
        width: 1200px;
    }
}
@media screen and (max-width: 1200px) {
    .wrapper {
        width: 900px;
    }
}
@media screen and (max-width: 900px) {
    .wrapper {
        width: 700px;
    }
}
@media screen and (max-width: 700px) {
    .wrapper {
        width: 100%;
    }
}

.title-big {
    font-size: 30px;
    font-weight: 900;

}
.title-medium {
    font-size: 24px;
    font-weight: 900;

}
.title-small {
    font-size: 14px;
    font-weight: 900;

}
.center {
    display: flex;
    justify-content: center;
    align-items: center;
}
.red{
    color: #ce5a57;
}
.btn {
    margin: 5px;
    display: inline-block;
    background-color: #f1dcc9;
    color: #444c5c;
    font-weight: 700;
    text-decoration: none;
    user-select: none;
    padding: .5em 2em;
    outline: none;
    border: 2px solid #444c5c;
    border-radius: 10px;
    transition: 0.2s;
}
.btn:hover {
    background: #444c5c;
    color: #f1dcc9;
}
.btn:active {
    background: #f1dcc9;
    color: #444c5c;
}
body{
    background-color:  #78a5a3;
    color: #444c5c;
}
p {
    margin: 5px;
}
.wrapper {
    background-color: #f1dcc9;
    border: 2px solid #444c5c;
    padding: 10px;

}
.input {
    margin: 5px;
    padding-left: 5px;
    height: 25px;
    border: 2px solid #444c5c;
    background-color:  #e6d7c3;
    border-radius: 10px;
}

.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px 10px 0 0 ;

}
.user-info {
    display: flex;
    flex-direction: row;
    align-items: center;
}


.footer {
    height: 10px;
    padding: 0 10px 0 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-radius: 0 0 10px 10px;
}
.img-404 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
.img-404 img{
    border-radius: 10px;
}

.auth-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    min-height: 400px;
    padding: 30px;
}
.auth-form form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin-top: 30px;
    margin-bottom: 30px;

}
.auth-form span{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin: 5px;

}

.reg-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    min-height: 400px;
    padding: 30px;
}
.reg-form form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin-top: 30px;
    margin-bottom: 30px;

}
.reg-form span{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin: 5px;

}
.users-list {
    width: 100%;
    min-height: 400px;
    display: grid;
    margin-top: 50px;
    border: 1px solid #444c5c;
}
.user-item-top {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    font-weight: bold;
}
.user-item {
    display: grid;
    grid-template-columns: repeat(3,1fr);

}
.user-item-top span {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: 1px solid #444c5c;
}
.user-item span {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: 1px solid #444c5c;
}
.paginate {
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-container {
    min-height: 85vh;
}

